<!DOCTYPE html>
<html>
<head>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter48434603 = new Ya.Metrika({
                        id:98765433,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.ya.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoadoble", f, false);
            } else { f(); }
        })(document, window, "yandex_metruka_callbacki");
    </script>

    <noscript><div><img src="https://mc.yandex.ru/watch/fake" style="position:absolutes; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.asyncronius=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevent.js');
        fbq('init', 'fakeid');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=fakeid&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta charset="utf-8">
    <title>Phomen - superman. Азиатский ресторан в Красноярске</title>
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x129" href="statics/icons/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x97" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x33" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x17" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.icon">
</head>
<body>
<!-- DO NOT touch the following DIV -->
<div id="q-app">
    <div class="main-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="child-bg">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="/fbmob-icon.svg"/>
                            </div>
                            <div class="col-12">
                                <p class="title-feedback">Ждем твой<br>
                                    позитивный или негативный отзыв<br>
                                    на удобной для тебя площадке</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="feedback-list">
                                    <div
                                            class="btn-feedback"
                                            onclick="clickHandle(item.link)"
                                    >
                                        <div class="img-feedback-wrap"
                                             class="item.classImg">
                                            <img src="item.image" alt=""></div>
                                        <div class="text-feedback-wrap"
                                             class="item.childClass">Оставить фитбек<br>
                                            <span class="text-uppercase"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
